<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <h1>Página sobre </h1>
  <p>Bem-Vindo à página "Sobre" do meu projeto Django!</p>
  <p>Esse projeto foi feito com objetivo de praticar o desenvolvimento com a linguagem python.</p>
  <a href="{% url 'home' %}">Voltar para a Página Inicial</a>

</body>

</html>